.sidebar-page {
    position: absolute;
    left: 220px;
}

.sidebar {
    position: fixed;
    width: 220px;
    background-color: gray;
    height: 100%
}

@media(max-width: 767px) {
    .sidebar {
        display: none;
    }
    .sidebar-page {
        left: 0;
    }
}

@media(min-width: 768px) {

}