.sidebar-page {
    position: absolute;
    left: 220px;
}

.sidebar {
    position: fixed;
    width: 220px;
    background-color: gray;
    height: 100%
}

.sidebar li {
    list-style-type: none;
}

.sidebar li a {
    text-decoration: none;
    color: black;
}

.sidebar li a:hover {
    color: goldenrod;
}

@media(max-width: 767px) {
    .sidebar {
        display: none;
    }
    .sidebar-page {
        left: 0;
    }
}

@media(min-width: 768px) {

}