.sidebar-page {
    padding-left: 250px;
    height: 100%;
}

.show-sidebar {
    display: block !important;
}

.sidebar .close-btn {
    position: absolute;
    right: 0;
    display: none;
    margin: 10px;
}

.sidebar {
    position: fixed;
    width: 250px;
    color: #333;
    background-color: white;
    height: 100%;
    font-size: smaller;
}

.sidebar .sidebar-blurb h5 {
    text-align: center;
    margin: 0;
}

.sidebar .sidebar-blurb h6 {
    text-align: center;
    margin: 0;
}

.sidebar .sidebar-blurb hr {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
}

.sidebar .sidebar-image {
    align-content: center;
    padding-left: 75px;
    padding-top: 25px;
}

.sidebar .sidebar-image img {
    width: 100px;
}

.sidebar ul {
    padding-left: 20px;
}

.sidebar>ul {
    margin-left: 40px;
}

.sidebar>ul>li>a {
    font-weight: bolder;
}

.sidebar li {
    list-style-type: none;
}

.sidebar li a {
    text-decoration: none;
    color: #333;
}

.sidebar li a:hover {
    color: goldenrod;
}

@media only screen and (max-width: 678px) {
    .sidebar {
        display: none;
    }
    .sidebar-page {
        padding-left: 0;
    }
    .sidebar .close-btn {
        display: block;
    }
}