
#post-page {
    background-color: white;
}

#post-page .back-button {
    margin: 10px;
}

#post-page .post-content {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 678px) {
    #post-page .post-content {
        padding-left: 10%;
        padding-right: 10%;
    }
}
